<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Borrar libro</title>
  <link rel="stylesheet" href="../../bootstrap.min.css">
</head>
<body>
  <h1>Confirmar</h1>
  <p>Estas seguro que quieres eliminar el libro titulado "<%= book.title %>"?</p>
  <form method="post" action="/books/delete/<%= book.id %>">
    <button type="submit">Si, borrar</button>
    <a href="/books">Cancelar</a>
  </form>
</body>
</html>
